@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: hsl(172, 67%, 45%);
  --primary-dark: hsl(183, 100%, 15%);
  --neutral-dark-100: hsl(186, 14%, 43%);
  --neutral-dark-75: hsl(184, 14%, 56%);
  --neutral-dark-50: hsl(185, 41%, 84%);
  --neutral-dark-25: hsl(189, 41%, 97%);
  --neutral-10: #f3f8fb;
  --neutral-white: hsl(0, 0%, 100%);

  --size-desktop: 1440px;
  --size-mobile: 375px;
  --font-primary: 'Space Mono', monospace;
}

body {
  font-family: var(--font-primary);
  background: var(--neutral-dark-50);
  color: var(--neutral-dark-100);
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitter-header {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}

.splitter-logo {
  width: 100px;
  height: 65px;
  background: url(../images/logo.svg) no-repeat;
  background-size: contain;
  text-indent: -999em;
}

.splitter-main {
  background: var(--neutral-white);
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 2rem;
  max-width: 375px;
  margin: 0 auto;
}

.row {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative;
}

.splitter-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.splitter-txt {
  background: var(--neutral-10);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: bold;
  text-align: right;
  width: 100%;
  color: var(--primary-dark);
  outline: 2px solid transparent;
  transition: outline 0.3s ease-in-out;
}

.splitter-txt:focus-visible,
.splitter-txt:hover {
  outline: 2px solid var(--primary);
}

.splitter-txt::placeholder {
  color: var(--neutral-dark-75);
}

.field-icon {
  position: absolute;
  bottom: 20%;
  width: 13px;
  left: 16px;
}

.splitter-percents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}

.splitter-percents input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  width: 0;
  position: fixed;
}

.percent-label {
  background: var(--primary-dark);
  color: var(--neutral-white);
  padding: 1rem;
  font-size: 24px;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.percent-label.selected,
.percent-label:hover {
  background: var(--primary);
  color: var(--primary-dark);
  font-weight: bold;
}

.percent-label-custom {
  display: flex;
}

.percent-label-custom .splitter-txt {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.percent-label-custom .splitter-txt.selected {
  outline: 2px solid var(--primary);
}

input.error {
  outline: 2px solid salmon !important;
}
.alert-error {
  position: absolute;
  top: 3px;
  right: 0;
  color: salmon;
  font-size: 0.7rem;
  opacity: 100;
  animation: fadeOut 0.5s ease-out 2.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.tip-results {
  background: var(--primary-dark);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.result-label {
  color: var(--neutral-white);
  font-weight: bold;
  margin-right: 1rem;
}

.result-label-per {
  font-size: 0.85rem;
  color: var(--neutral-dark-75);
  display: block;
}

.result-num {
  background: none;
  border: 0;
  color: var(--primary);
  text-align: right;
  font-size: 1.75rem;
  font-family: var(--font-primary);
  font-weight: bold;
  width: 100%;
}

.result-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.result-btn-reset {
  background: var(--primary);
  border: 0;
  padding: 0.75rem;
  width: 100%;
  text-align: center;
  color: var(--primary-dark);
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.result-btn-reset:hover {
  background: var(--neutral-white);
  transform: scale(1.03);
}

.attribution {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}

a:link.link-footer {
  color: var(--primary-dark);
  transition: all 0.2s ease-in-out;
}

a:hover.link-footer,
a:active.link-footer {
  color: var(--primary);
}

a:visited.link-footer {
  color: var(--neutral-dark-75);
}

@media screen and (min-width: 960px) {
  .splitter-header {
    padding-bottom: 4rem;
  }
  .splitter-main {
    max-width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 2rem 2rem 2rem 2.5rem;
    box-shadow: 5px 5px 25px hsla(hue, saturation, lightness, alpha);
  }
  .splitter-percents {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .percent-label,
  .percent-label-custom .splitter-txt {
    padding: 0.5rem;
  }
  .tip-results {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    margin-top: 0;
  }
  .result-row {
    grid-template-columns: 3fr 4fr;
    align-content: center;
  }
  .result-num {
    font-size: 2.5rem;
  }
  .result-btn-reset {
    align-self: end;
  }
}
