@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: hsl(172, 67%, 45%);
  --primary-dark: hsl(183, 100%, 15%);
  --neutral-dark-100: hsl(186, 14%, 43%);
  --neutral-dark-75: hsl(184, 14%, 56%);
  --neutral-dark-50: hsl(185, 41%, 84%);
  --neutral-dark-25: hsl(189, 41%, 97%);
  --neutral-10: #f3f8fb;
  --neutral-white: hsl(0, 0%, 100%);

  --size-desktop: 1440px;
  --size-mobile: 375px;
  --font-primary: 'Space Mono', monospace;
}

body {
  font-family: var(--font-primary);
  background: var(--neutral-dark-50);
  color: var(--neutral-dark-100);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.splitter-header {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}

.splitter-logo {
  width: 100px;
  height: 65px;
  background: url(../images/logo.svg) no-repeat;
  background-size: contain;
  text-indent: -999em;
}

.splitter-main {
  background: var(--neutral-white);
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 375px;
  margin: 0 auto;
}

.row {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative;
}

.splitter-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.splitter-txt {
  background: var(--neutral-10);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: bold;
  text-align: right;
  width: 100%;
  color: var(--primary-dark);
}

.field-icon {
  position: absolute;
  bottom: 20%;
  width: 13px;
  left: 16px;
}

.splitter-percents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}

.splitter-percents input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  width: 0;
  position: fixed;
}

.percent-label {
  background: var(--primary-dark);
  color: var(--neutral-white);
  padding: 1rem;
  font-size: 24px;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.percent-label.selected {
  background: var(--primary);
  color: var(--primary-dark);
  font-weight: bold;
}

.percent-label-custom {
  display: flex;
}

.percent-label-custom .splitter-txt {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.percent-label-custom .splitter-txt::placeholder {
  color: var(--neutral-dark-75);
}

.tip-results {
  background: var(--primary-dark);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.result-label {
  color: var(--neutral-white);
  font-weight: bold;
  margin-right: 1rem;
  width: 50%;
}

.result-label-per {
  font-size: 0.85rem;
  color: var(--neutral-dark-75);
  display: block;
}

.result-num {
  background: none;
  border: 0;
  color: var(--primary);
  width: 40%;
  text-align: right;
  font-size: 1.75rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.result-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.result-btn-reset {
  background: var(--primary);
  border: 0;
  padding: 0.75rem;
  width: 100%;
  text-align: center;
  color: var(--primary-dark);
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.attribution {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}

a:link.link-footer {
  color: var(--primary-dark);
}

a:hover.link-footer,
a:active.link-footer {
  color: var(--primary);
}

a:visited.link-footer {
  color: var(--neutral-dark-75);
}
